---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <Hero2
    callToAction={{ text: 'Read my Blogs', href: '#latest', icon: 'tabler:books' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <div id="typewriter"></div>
      <script is:inline src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
      <script is:inline type='text/javascript'>
        const typewriter = new Typewriter('#typewriter', {
          loop: true,
        });
    
        typewriter.typeString('I am Paul Harvey.')
          .pauseFor(1000)
          .typeString('<br>A learner.')
          .pauseFor(1000)
          .deleteChars(8)
          .typeString('dreamer.')
          .pauseFor(1000)
          .deleteChars(8)
          .typeString('<span class="text-teal-300"> future educator!</span>')
          .pauseFor(2500)
          .start();
      </script>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">This is my site.</span> I write just about anything I can think of.
        </span>
    </Fragment>
  </Hero>


  <Note />

  <div id='latest'></div>
  <LatestPosts
  title="Find out more content in our Blog"
  information={`Hello. Read my blogs.`}
  postIds={[
''
  ]}
/>
</Layout>
