---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <Hero2
    callToAction={{ text: 'Read my Blogs', href: 'blog', icon: 'tabler:books' }}
    callToAction2={{ text: 'About me', href: 'about' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <div id="typewriter"></div>
      <script is:inline src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
      <script is:inline type='text/javascript'>
        const typewriter = new Typewriter('#typewriter', {
          loop: true,
        });
    
        typewriter.typeString('I am Paul Harvey.<br>')
          .pauseFor(1000)
          .typeString('A learner.')
          .pauseFor(1000)
          .deleteChars(8)
          .typeString('dreamer.')
          .pauseFor(1000)
          .deleteChars(8)
          .typeString('<span class="text-teal-300"> future educator!</span>')
          .pauseFor(2500)
          .start();
      </script>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:scale-100 scale-50">
        <span class="font-semibold">This is my blogsite site.</span>
        <span>I write just about anything I can think of.</span>
        <span class="font-normal text-sm break">(Currently just about my teaching tho.)</span>
      </span>
    </Fragment>
  </Hero2>


  <!-- <Note /> -->

  <!-- <div id='latest'></div>
  <LatestPosts
  title="Find out more content in our Blog"
  postIds={[
''
  ]} 
/> -->
</Layout>
